<header class="light-background">
    <div class="container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="row">
            <div class="container col-sm" style="margin: auto;" >
                <img src="../../../assets/menu.svg" alt="Menu" >
            </div>
            <div class="container col-md" style="text-align: center;">
                <img src="../../../assets/SplashLogo.svg" alt="Logo" width="200">
            </div>
            <div class="container col-sm" style="display: flex; justify-content: right;">
                <img src="../../../assets/notificacion.svg" alt="Notificacion" width="20" class="navbar-images">
                <img src="../../../assets/guardar.svg" alt="Guardar" width="20" class="navbar-images">
                <img src="../../../assets/usuario.svg" alt="Usuario" width="20" class="navbar-images">
            </div>
        </div>
    </div>
</header>
