<header class="light-background">
    <div class="container-fluid light-background" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="row light-background">
            <div class="container col-sm light-background" style="margin: auto;" >
                <img src="../../../assets/img/header/menu.svg" alt="Menu" class="light-background" >
            </div>
            <div class="container col-md light-background" style="text-align: center;">
                <img src="../../../assets/img/logos/SplashLogo.svg" class="light-background" alt="Logo" width="200" (click)="goToMain()">
            </div>
            <div class="container col-sm light-background" style="display: flex; justify-content: right;">
                <img src="../../../assets/img/header/notificacion.svg" alt="Notification" width="20" class="navbar-images light-background">
                <img src="../../../assets/img/header/guardar.svg" alt="Saved" width="20" class="navbar-images light-background">
                <img src="../../../assets/img/header/usuario.svg" alt="User" width="25" class="navbar-images light-background" (click)="goToLogin()">
            </div>
        </div>
    </div>
</header>
