<div  class="box-content-2 d-flex justify-content-center">

    <div class="light-background col grid-align">
        <img class="center-box light-background" src="./../../../assets/img/logos/logo-slogan.svg" (click)="goToMain()">
    </div>

    <div class="col grid-align">

        <div class="center-box text-center">
            <form action="">
                <input class="input-single" placeholder="Username" type="text">
                <br>
                <input class="input-single" placeholder="E-mail" type="email">
                <br>
                <input class="input-single" placeholder="New Password" type="password">
                <br>
                <input placeholder="2001/01/01" class="input-single" type="date" ngbDatepicker #d="ngbDatepicker"/>
                <br>
                <input placeholder="Gender" class="input-single" type="text" ngbDatepicker #d="ngbDatepicker"/>
                <br>
                <button type="submit" class="button-yellow" (click)="goToProfile()">Sign Up</button>
            </form>

            <br>
                <hr>
                <button class="button-yellow" (click)="goToLogin()">Log In</button>
        </div>
        
    </div>

</div>

<app-footer></app-footer>