<app-header></app-header>


<div class="container-fluid general-background">
    <div class="row">
        <div class="col-4 searchInput-div"></div>
        <div class="col-4 searchInput-div align-center">
            <input class="searchInput" type="text" placeholder="Search a title...">
        </div>
        <div class="col-4 searchInput-div"></div>
    </div>

    <div class="row">
        <div class="col" ></div>
        <div class="col-10" style="padding-bottom: 30px;">
            <h3>Recommended for you</h3>
            <br>
            <div class="row">
                <div class="col"></div>
                <div class="col-2 align-center book-carousel">
                    <img src="../../../assets/img/elamarillonoexiste.png" alt="Prueba" height="250px" (click)="goToDetail()">
                    <p><Strong>El amarillo no existe</Strong></p>
                    <p>Gema Vadillo</p>
                </div>
                <div class="col-2 align-center book-carousel">
                    <img src="../../../assets/img/eragon.png" alt="Prueba" height="250px" (click)="goToDetail()">
                    <p><Strong>Eragon</Strong></p>
                    <p>Christopher Paolini</p>
                </div>
                <div class="col-2 align-center book-carousel">
                    <img src="../../../assets/img/elmishienelcielo.png" alt="Prueba" height="250px" (click)="goToDetail()">
                    <p><Strong>El gato en el cielo</Strong></p>
                    <p>Takashi Hiraide</p>
                </div>
                <div class="col-2 align-center book-carousel">
                    <img src="../../../assets/img/latorreoscura.png" alt="Prueba" height="250px" (click)="goToDetail()">
                    <p><Strong>La torre oscura</Strong></p>
                    <p>Stephen King</p>
                </div>
                <div class="col-2 align-center book-carousel">
                    <img src="../../../assets/img/kafkaenlaorilla.png" alt="Prueba" height="250px" (click)="goToDetail()">
                    <p><Strong>La torre oscura</Strong></p>
                    <p>Stephen King</p>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="col">
            <div class="col-12 next-arrow">
                <img src="../../../assets/img/flecha-derecha.png" alt="Flecha" width="50%">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col" ></div>
        <div class="col-10" style="padding-bottom: 30px;">
            <h3>Reviews based on your likes</h3>
            <br>
            <div class="row">
                <div class="col-4">
                    <div class="card light-background">
                        <div class="card-body light-background" style="border-radius: 50px;">
                          <div class="row light-background">
                            <div class="col-4 light-background">
                                <img class="light-background" src="../../../assets/img/elmishienelcielo.png" alt="Mishi" width="100%" >
                            </div>
                            <div class="col-8 light-background">
                                <div class="col-12 light-background">
                                    <p class="light-background" style="display: inline-block;"><strong class="light-background">El gato en el cielo</strong></p>
                                    <p class="light-background" style=" float: right;">&nbsp;15</p>
                                    <img class="light-background" src="../../../assets/img/megusta.png" alt="Like" width="20px" height="20px" style=" float: right;">
                                    
                                    <p class="light-background">Usuario</p>
                                    <p class="light-background">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año...</p>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-4">
                    <div class="card light-background">
                        <div class="card-body light-background" style="border-radius: 50px;">
                          <div class="row light-background">
                            <div class="col-4 light-background">
                                <img class="light-background" src="../../../assets/img/eragon.png" alt="Mishi" width="100%" >
                            </div>
                            <div class="col-8 light-background">
                                <div class="col-12 light-background">
                                    <p class="light-background" style="display: inline-block;"><strong class="light-background">El gato en el cielo</strong></p>
                                    <p class="light-background" style=" float: right;">&nbsp;15</p>
                                    <img class="light-background" src="../../../assets/img/megusta.png" alt="Like" width="20px" height="20px" style=" float: right;">
                                    
                                    <p class="light-background">Usuario</p>
                                    <p class="light-background">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año...</p>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-4">
                    <div class="card light-background">
                        <div class="card-body light-background" style="border-radius: 50px;">
                          <div class="row light-background">
                            <div class="col-4 light-background">
                                <img class="light-background" src="../../../assets/img/kafkaenlaorilla.png" alt="Mishi" width="100%" >
                            </div>
                            <div class="col-8 light-background">
                                <div class="col-12 light-background">
                                    <p class="light-background" style="display: inline-block;"><strong class="light-background">El gato en el cielo</strong></p>
                                    <p class="light-background" style=" float: right;">&nbsp;15</p>
                                    <img class="light-background" src="../../../assets/img/megusta.png" alt="Like" width="20px" height="20px" style=" float: right;">
                                    
                                    <p class="light-background">Usuario</p>
                                    <p class="light-background">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año...</p>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>


<app-footer></app-footer>