@import '../../app.component.css';
@import '../home/home.component.css';


.searchInput{
    background-color: #ECE1D0;
    border-radius: 9px;
    border-width: 1px;
    width: 60%;
    background-image: url('../../../assets/img/lupa.png');
    background-repeat: no-repeat;
    background-position: 97%;
    background-size: 10px;
    padding: 3px 3px 3px 15px;
}

.searchInput-div{
    padding-top: 3%; 
    padding-bottom: 20px;
}

.next-arrow{
    padding-top: 100%;
}

.next-arrow img:hover{
    cursor: pointer;
}

