<app-header></app-header>

<div class="container-fluid general-background align-center" style="padding-top: 30px;">
    <div class="container centered-paddings align-center">
        <h4>Project Scope</h4>
        <p style="text-align: justify;">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. </p>
    </div>
    <div class="container col-12 centered-paddings align-center">
        <div class="row">
            <h4>Developers</h4>
            <div class="col-3"></div>
            <div class="container col-3">
                <img src="../../../assets/img/cuack.png" alt="Cuack cuack" width="100" style="border-radius: 50%;">
                <p><strong>Paola Yanet VIlla Rojo</strong></p>
                <p>Pola Pola</p>
            </div>
            <div class="container col-3">
                <img src="../../../assets/img/mishi.png" alt="mishi mish" width="100" style="border-radius: 50%;">
                <p><strong>Alan Marvin Guzmán Flores</strong></p>
                <p>Alan Alan</p>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <div class="container col-12 centered-paddings align-center">
        <div class="row">
            <h4>Stack</h4>
            <div class="col-3"></div>
            <div class="col-6">
                <img class="stack-images" src="../../../assets/img/sql.png" width="40" alt="SQL">
                <img class="stack-images" src="../../../assets/img/angular.png" width="40" alt="Angular">
                <img class="stack-images" src="../../../assets/img/netcore.png" width="40" alt=".Net Core">
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <div class="container website-div">
        <div class="button website-button"><strong>Go to the website</strong></div>
    </div>
</div>

<app-footer></app-footer>