@import '../../app.component.css';

.stack-images{
    margin-right: 10%; 
    margin-left: 10%;
}

.centered-paddings{
    padding-right: 10%;
    padding-left: 10%;
}

.align-center{
    text-align: center;
}

.website-div{
    display: flex; 
    justify-content: center; 
    margin-top: 30px;
    padding-bottom: 30px;
}