<app-header></app-header>

<div class="container-fluid general-background" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="row">
                <div class="col-3">
                    <img src="../../../assets/img/kafkaenlaorilla.png" alt="Kafka" width="100%">
                </div>
                <div class="col-9" style="padding-top: 20px; padding-bottom: 40px;">
                    <h4 style="display: inline-block;">Kafka en la orilla</h4>
                    <img style="display: inline-block; margin-left: 15px;" src="../../../assets/guardar.svg" alt="Guardar" >
                    <img src="../../../assets/img/estrella.png" alt="Rating" width="20px"  style=" float: right;">
                    <p style=" float: right;">4.6&nbsp;&nbsp;</p>

                    <br><br>
                    <h5 style="display: inline-block;">Haruki Murakami</h5>
                    <p style="display: inline-block; font-style: italic;">&nbsp;&nbsp; 2000</p>
                    <img src="../../../assets/img/yaleido.png" alt="Read" width="20px"  style=" float: right;">
                    <p style=" float: right;">Mark as read&nbsp;</p>

                    <br><br>
                    <p style="text-align: justify;">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>

                    <div class="button go-bookshelf-button"><strong>Add to my bookshelf</strong></div>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <h5>Comments</h5>
                    <br>
                    <div class="container-fluid">
                        <img src="../../../assets/img/cuack.png" alt="Cuack" width="15%" style="display: inline-block;">
                        <p style="display: inline-block;"><strong>&nbsp;&nbsp;Username</strong></p>
                        <p style="display: inline-block;">&nbsp;&nbsp;6d</p>
                        <p style=" float: right; margin-top: 20px;">&nbsp;15</p>
                        <img src="../../../assets/img/megusta.png" alt="Like" width="20px" height="20px" style=" float: right; margin-top: 20px;">

                        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</p>

                        <p style="font-style: italic;">Reply</p>

                        <div class="row">
                            <div class="col"></div>
                            <div class="col-11">
                                <img src="../../../assets/img/mishi.png" alt="Mishi" width="15%" style="display: inline-block;">
                                <p style="display: inline-block;"><strong>&nbsp;&nbsp;Username</strong></p>
                                <p style="display: inline-block;">&nbsp;&nbsp;3d</p>
                                <p style=" float: right; margin-top: 20px;">&nbsp;3</p>
                                <img src="../../../assets/img/megusta.png" alt="Like" width="20px" height="20px" style=" float: right; margin-top: 20px;">

                                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</p>
                                <p style="font-style: italic;">Reply</p>
                            </div>
                        </div>

                        <br>
                        <img src="../../../assets/img/cuack.png" alt="Cuack" width="15%" style="display: inline-block;">
                        <p style="display: inline-block;"><strong>&nbsp;&nbsp;Username</strong></p>
                        <p style="display: inline-block;">&nbsp;&nbsp;4d</p>
                        <p style=" float: right; margin-top: 20px;">&nbsp;10</p>
                        <img src="../../../assets/img/megusta-void.png" alt="Like" width="20px" height="20px" style=" float: right; margin-top: 20px;">

                        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>

                        <p style="font-style: italic;">Reply</p>

                        <br>
                        <div class="row">
                            <div class="col-2" style="text-align: center;" >
                                <img src="../../../assets/img/mishi.png" alt="Mishi" width="80%">
                            </div>
                            <div class="col-10" style="display: inline-flex;" >
                                <input class="light-background add-comment" type="text" placeholder="Add a comment">
                                <img src="../../../assets/img/send.png" alt="Send" width="20px" height="20px" style="margin-top: 25px; margin-left: -30px;">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-5">
                    <img src="../../../assets/img/reviewsedit.png" alt="Review" width="20px"  style=" float: right;">
                    <h5>Reviews</h5>
                    <br>
                    <div class="card light-background" style="border-radius: 15px; margin-bottom: 10px;">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-4">
                                <img src="../../../assets/img/kafkaenlaorilla.png" alt="Kafka" width="100%" >
                            </div>
                            <div class="col-8">
                                <div class="col-12">
                                    <p style="display: inline-block;"><strong>Kafka en la orilla</strong></p>
                                    <p style=" float: right;">&nbsp;15</p>
                                    <img src="../../../assets/img/megusta.png" alt="Like" width="20px" height="20px" style=" float: right;">
                                    
                                    <p>Usuario</p>
                                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum...</p>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card light-background" style="border-radius: 15px; margin-bottom: 10px;">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-4">
                                <img src="../../../assets/img/kafkaenlaorilla.png" alt="Kafka" width="100%" >
                            </div>
                            <div class="col-8">
                                <div class="col-12">
                                    <p style="display: inline-block;"><strong>Kafka en la orilla</strong></p>
                                    <p style=" float: right;">&nbsp;15</p>
                                    <img src="../../../assets/img/megusta-void.png" alt="Like" width="20px" height="20px" style=" float: right;">
                                    
                                    <p>Usuario</p>
                                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum...</p>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card light-background" style="border-radius: 15px; margin-bottom: 10px;">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-4">
                                <img src="../../../assets/img/kafkaenlaorilla.png" alt="Kafka" width="100%" >
                            </div>
                            <div class="col-8">
                                <div class="col-12">
                                    <p style="display: inline-block;"><strong>Kafka en la orilla</strong></p>
                                    <p style=" float: right;">&nbsp;15</p>
                                    <img src="../../../assets/img/megusta-void.png" alt="Like" width="20px" height="20px" style=" float: right;">
                                    
                                    <p>Usuario</p>
                                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum...</p>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<app-footer></app-footer>